# Ambiente virtual
venv/
.env/
.venv/

# Cache do Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos temporários
*.log
*.tmp
*.bak

# Configurações do VS Code
.vscode/

# Arquivos de dependency e lock (caso existam)
pip-wheel-metadata/
pip-log.txt

# Arquivos de build
build/
dist/
*.egg-info/
.eggs/

# Jupyter Notebooks checkpoints (caso use notebooks)
.ipynb_checkpoints/

# Sistema operacional
.DS_Store
Thumbs.db
